body
{
	background-image:url('bg.png');
	background-repeat:repeat-x;
	background-position:center top;
	font-family:Helvetica,Arial,sans-serif;
	font-size:100%;
	color:#003300;
	margin:50px;
}

#Main
{
	position:relative;
	text-align:left;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

#Name
{
    position:relative;
    font-size:2em;
    text-align:center;
}

#Education
{
    float:left;
    position:absolute;
    width:300px;
    text-align:left;
    font-size:1.5em;
    top:50px;
    left:0;
}

#ContactInfo
{
    float:right;
    position:absolute;
    width:400px;
    text-align:left;
    left:300px;
    font-size:1.5em;
    top:50px;
}

#Schools
{
    font-size:.75em;
}

#InfoLeft
{
    font-size:.75em;
    float:left;
}

#InfoRight
{
    font-size:.75em;
    float:left;
    padding-left: 16px;
}

#Projects
{
    text-align:center;
    clear:both;
    margin-top:110px;
}

#ProjectList
{
    margin:30px;
    text-align:left;
}

p
{
    text-indent:40px;
}
